@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/OpenSans-Bold.woff") format("woff");
}

html,
body {
  font-family: "OpenSans", sans-serif;
}
.title {
  color: red;
}
